body {
  background-color: #f8f6fe;
  font-family: "Roboto", serif;
}
a {
  color: #885df1;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  border: none;
  background-color: #f8f6fe;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #885df1;
  border-radius: 6px;
  border: none;
  padding: 15px 30px;
  margin-left: 5px;
  color: white;
}

main {
  padding: 30px 0px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
